button {
  border: 3px solid #a0c4ff;
  border-radius: 10px;
  background-color: white;
  color: #333;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

button:hover {
  background-color: #f0f0f0;
  border-color: #6e9aeb;
}

.center-content {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#world-map,
#jade-div {
  width: fit-content; /* Ensure the content sizes dynamically */
}

#jade-div {
  width: 1170px;
  display: flex;
  align-items: flex-start; /* Align children to the top */
}

#jade-svg {
  background-image: url("disney.png"); /* Add your Disney Castle image URL */
  background-size: 50%; /* Adjusts the image size to fit within the element */
  background-position: center; /* Centers the image within the SVG */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

#jade-legendContainer {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-start; /* Align items to the top */
  align-items: center; /* Center the items horizontally */
}

.legend-button {
  margin-top: 10px; /* Add some spacing between the SVG and the button */
  align-self: center; /* Make sure the button is centered horizontally */
}

.gridlines line {
  stroke: #bbb;
}

.gridlines .domain {
  stroke: none;
}
