#jade-div {
  width: 1170px;
}

.legend-button {
  align-self: flex-end;
}

#jade-legendContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gridlines line {
  stroke: #bbb;
}

.gridlines .domain {
  stroke: none;
}
