button {
  border: 3px solid #a0c4ff;
  border-radius: 10px;
  background-color: white;
  color: #333;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
  background-color: #f0f0f0;
  border-color: #6e9aeb;
}

.center-content {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#jade-div {
  width: 1170px;
  display: flex;
  align-items: flex-start;
}

#jade-svg {
  background-image: url("disney.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

#jade-legendContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.gridlines line {
  stroke: #bbb;
}

.gridlines .domain {
  stroke: none;
}
